* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  --dark-font-color: rgb(44 40 46);
  --light-bg-color: rgb(247, 240, 240);
}

nav {
  height: 10vh;
  background-color: var(--light-bg-color);
  display: flex;
  align-items: center;
  padding-left: 30px;
}

nav .logo {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 30px;
}

input,
button {
  all: unset;
}
form {
  display: flex;
  height: 32px;
}

input {
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  padding: 6px 10px;
  width: 350px;
}

body {
  background: url('./images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  box-sizing: border-box;
  margin-left: -40px;
  width: 40px;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

button img {
  height: 25px;
  width: 25px;
}

button:hover {
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 15px 30px;
  display: relative;
}

.today {
  grid-column: 1;
  color: var(--light-bg-color);
}

.today-main {
  display: flex;
  padding: 20px;
}

.today .text .city {
  font-weight: bold;
  font-size: 1.5rem;
}

.card {
  border-radius: 8px;
  padding: 20px;
  color: rgb(44, 40, 40);
  background-color: var(--light-bg-color);
}

.today .temp-container {
  display: flex;
}

.today .temp-container span {
  font-size: 6rem;
  font-weight: 300;
}

.today .temp-container .switch-btn {
  font-size: 2.2rem;
  margin-top: 10px;
}

.today .temp-container .switch-btn:hover {
  cursor: pointer;
}

.today .text .temp {
  font-size: 6rem;
  font-weight: bold;
}

.today .main-img {
  height: 160px;
  width: 160px;
  margin-left: 50px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 500px;
  font-size: 0.9rem;
}

.detail {
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  padding: 0 7px;
}

.detail img {
  width: 30px;
  height: 30px;
}

.detail .title {
  font-size: 1rem;
}

.week {
  grid-column: 2;
}

.wait {
  display: absolute;
  top: -20px;
  left: 40%;
  width: 20%;
  background-color: rgb(179, 54, 54);
  padding: 3px 5px;
  height: 20px;
}
